In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/ishitajain/ShapTime/Data/Raw/Daily_Climate_time_series.csv")

In [3]:
df.index = pd.to_datetime(df["date"])
df

                 date   meantemp   humidity  wind_speed  meanpressure
date
2013-01-01   2013/1/1  10.000000  84.500000    0.000000   1015.666667
2013-01-02   2013/1/2   7.400000  92.000000    2.980000   1017.800000
2013-01-03   2013/1/3   7.166667  87.000000    4.633333   1018.666667
2013-01-04   2013/1/4   8.666667  71.333333    1.233333   1017.166667
2013-01-05   2013/1/5   6.000000  86.833333    3.700000   1016.500000
...               ...        ...        ...         ...           ...
2017-04-20  2017/4/20  34.500000  27.500000    5.562500    998.625000
2017-04-21  2017/4/21  34.250000  39.375000    6.962500    999.875000
2017-04-22  2017/4/22  32.900000  40.900000    8.890000   1001.600000
2017-04-23  2017/4/23  32.875000  27.500000    9.962500   1002.125000
2017-04-24  2017/4/24  32.000000  27.142857   12.157143   1004.142857

[1575 rows x 5 columns]

In [4]:
import numpy as np

In [5]:
# df["month"] = df.index.month
# df["day_of_week"] = df.index.dayofweek
# df["day_of_year"] = df.index.dayofyear
# df["year"] = df.index.year

# # Adding the powerful cyclic sine/cosine features for Day of Year
# days_in_year = 366
# df["sin_dayofyear"] = np.sin(2 * np.pi * df["day_of_year"] / days_in_year)
# df["cos_dayofyear"] = np.cos(2 * np.pi * df["day_of_year"] / days_in_year)
# # Drop the original 'day_of_year' if you use the sin/cos transformed features
# df = df.drop(columns=["day_of_year"])

In [6]:
df

                 date   meantemp   humidity  wind_speed  meanpressure
date
2013-01-01   2013/1/1  10.000000  84.500000    0.000000   1015.666667
2013-01-02   2013/1/2   7.400000  92.000000    2.980000   1017.800000
2013-01-03   2013/1/3   7.166667  87.000000    4.633333   1018.666667
2013-01-04   2013/1/4   8.666667  71.333333    1.233333   1017.166667
2013-01-05   2013/1/5   6.000000  86.833333    3.700000   1016.500000
...               ...        ...        ...         ...           ...
2017-04-20  2017/4/20  34.500000  27.500000    5.562500    998.625000
2017-04-21  2017/4/21  34.250000  39.375000    6.962500    999.875000
2017-04-22  2017/4/22  32.900000  40.900000    8.890000   1001.600000
2017-04-23  2017/4/23  32.875000  27.500000    9.962500   1002.125000
2017-04-24  2017/4/24  32.000000  27.142857   12.157143   1004.142857

[1575 rows x 5 columns]

In [7]:

# LAG_DAYS = [1, 7, 30] # Yesterday, last week, last year
# LAG_FEATURES = ['meantemp'] # Only lag the target to keep features small

# for feature in LAG_FEATURES:
#     for lag in LAG_DAYS:
#         new_col_name = f'{feature}_lag_{lag}'
#         df[new_col_name] = df[feature].shift(lag)

In [8]:
# df.drop('day_of_week', inplace=True,axis=1)

In [9]:
# ROLLING_WINDOWS = [7, 30] 

# # Apply rolling features to all available numeric columns
# ROLLING_FEATURES = ['meantemp']

# # --- 3. Generate Rolling Mean Features ---
# print(f"Generating Rolling Mean Features for windows: {ROLLING_WINDOWS} days...")

# for feature in ROLLING_FEATURES:
#     for window in ROLLING_WINDOWS:
#         # Calculate the rolling mean for the specified window
#         # The .shift(1) is CRITICAL: it prevents data leakage by ensuring the
#         # rolling mean for the current day (t) only uses data up to yesterday (t-1).
#         new_col_name = f'{feature}_roll_mean_{window}d'
#         df[new_col_name] = df[feature].rolling(window=window, min_periods=1).mean().shift(1)

In [10]:
# df.drop(['meantemp_lag_7','meantemp_lag_30'], inplace=True, axis=1)

In [11]:
df.drop(['date'], inplace=True, axis=1)

In [12]:
df

             meantemp   humidity  wind_speed  meanpressure
date
2013-01-01  10.000000  84.500000    0.000000   1015.666667
2013-01-02   7.400000  92.000000    2.980000   1017.800000
2013-01-03   7.166667  87.000000    4.633333   1018.666667
2013-01-04   8.666667  71.333333    1.233333   1017.166667
2013-01-05   6.000000  86.833333    3.700000   1016.500000
...               ...        ...         ...           ...
2017-04-20  34.500000  27.500000    5.562500    998.625000
2017-04-21  34.250000  39.375000    6.962500    999.875000
2017-04-22  32.900000  40.900000    8.890000   1001.600000
2017-04-23  32.875000  27.500000    9.962500   1002.125000
2017-04-24  32.000000  27.142857   12.157143   1004.142857

[1575 rows x 4 columns]

In [13]:
df.reset_index(inplace=True)

In [14]:
df['date']

0      2013-01-01
1      2013-01-02
2      2013-01-03
3      2013-01-04
4      2013-01-05
          ...
1570   2017-04-20
1571   2017-04-21
1572   2017-04-22
1573   2017-04-23
1574   2017-04-24
Name: date, Length: 1575, dtype: datetime64[ns]

In [15]:
df[:1395]['date']

0      2013-01-01
1      2013-01-02
2      2013-01-03
3      2013-01-04
4      2013-01-05
          ...
1390   2016-10-22
1391   2016-10-23
1392   2016-10-24
1393   2016-10-25
1394   2016-10-26
Name: date, Length: 1395, dtype: datetime64[ns]

In [16]:
quantiles = pd.qcut(df[:1395]['date'], q=8, labels=False, duplicates='drop')

# Step 2: Use pd.get_dummies to convert the numerical bins into one-hot encoded columns
# `prefix='Chunk'` names the new columns nicely (e.g., 'Chunk_0', 'Chunk_1', etc.)
chunk_dummies = pd.get_dummies(quantiles, prefix='t', dtype=int)

# Step 3: Concatenate the new columns back to the original DataFrame
df = pd.concat([df, chunk_dummies], axis=1)

In [17]:
df.fillna(0, inplace=True)

In [18]:
df.to_csv('/Users/ishitajain/ShapTime/Data/time_features.csv')

In [19]:
df

,date,meantemp,humidity,wind_speed,meanpressure,t_0,t_1,t_2,t_3,t_4,t_5,t_6,t_7
0,2013-01-01,10.000000,84.500000,0.000000,1015.666667,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2013-01-02,7.400000,92.000000,2.980000,1017.800000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2013-01-03,7.166667,87.000000,4.633333,1018.666667,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2013-01-04,8.666667,71.333333,1.233333,1017.166667,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2013-01-05,6.000000,86.833333,3.700000,1016.500000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,2017-04-20,34.500000,27.500000,5.562500,998.625000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1571,2017-04-21,34.250000,39.375000,6.962500,999.875000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1572,2017-04-22,32.900000,40.900000,8.890000,1001.600000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573,2017-04-23,32.875000,27.500000,9.962500,1002.125000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1574,2017-04-24,32.000000,27.142857,12.157143,1004.142857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0